<div class="container testContainer">
<div class="d-flex flex-row mb-5 mt-4 justify-content-around justify-content-center ">
    <div class="p-1 borderForTests cursor shadow">
        <a>
            <h6 class="text-center  text-primary text-dark m-1">Popular</h6>
        </a>
    </div>
    <div class="p-1 borderForTests cursor shadow">
        <a>
            <h6 class="text-center  text-primary text-dark m-1">Covid</h6>
        </a>
    </div>
    <div class="p-1 borderForTests cursor shadow">
        <a>
            <h6 class="text-center text-primary text-dark m-1">Fever</h6>
        </a>
    </div>
    <div class="p-1 borderForTests cursor shadow">
        <a>
            <h6 class="text-center  text-primary text-dark m-1">Anemia</h6>
        </a>
    </div>
    <div class="p-1 borderForTests cursor shadow">
        <a>
            <h6 class="text-center  text-primary text-dark m-1">Diabetes</h6>
        </a>
    </div>
    <div class="p-1 borderForTests cursor shadow">
        <a>
            <h6 class="text-center  text-primary text-dark m-1">Heart</h6>
        </a>
    </div>
    <div class="p-1 borderForTests cursor shadow">
        <a>
            <h6 class="text-center  text-primary text-dark m-1">Cancer</h6>
        </a>
    </div>
    <div class="p-1 borderForTests cursor shadow">
        <a>
            <h6 class="text-center  text-primary text-dark m-1">Kidney</h6>
        </a>
    </div>
    <div class="p-1 borderForTests cursor shadow">
        <a>
            <h6 class="text-center  text-primary text-dark m-1">Liver</h6>
        </a>
    </div>
    <div class="p-1 borderForTests cursor shadow">
        <a>
            <h6 class="text-center  text-primary text-dark m-1">Hormone</h6>
        </a>
    </div>
    <div class="p-1 borderForTests cursor shadow">
        <a>
            <h6 class="text-center  text-primary text-dark m-1">Vitamine</h6>
        </a>
    </div>
    <div class="p-1 borderForTests cursor shadow">
        <a>
            <h6 class="text-center  text-primary text-dark m-1">View More</h6>
        </a>
    </div>

</div>
</div>
<div class="container testContainer border rounded-5">
    <div class="row m-3">
        <div class="col-md-6 float-start">
      <h6>Hepatitis B Surface Antigen (HbsAg) - Serum</h6>
    </div>
    <div class="col-md-6">
    <a class="float-end text-decoration-none">
     <span class="text-decoration-line-through text-secondary"> ₹ 699</span>
     <span class="m-2 text-dark fw-bolder fs-5"> ₹ 449/-</span>
     <button type="button" class="btn btn-outline-primary ms-2 rounded-pill px-4">Add</button>
    </a>
    </div>
</div>
<hr>
<div class="row m-3">
    <div class="col-md-6 float-start">
  <h6>HCV IgG</h6>
</div>
<div class="col-md-6">
<a class="float-end text-decoration-none">
 <span class="text-decoration-line-through text-secondary"> ₹2299</span>
 <span class="m-2 text-dark fw-bolder fs-5"> ₹ 1240/-</span>
 <button type="button" class="btn btn-outline-primary ms-2 rounded-pill px-4">Add</button>
</a>
</div>
</div>
<hr>
<div class="row m-3">
    <div class="col-md-6 float-start">
  <h6>Hepatitis B Virus (Viral Load)</h6>
</div>
<div class="col-md-6">
<a class="float-end text-decoration-none">
 <span class="text-decoration-line-through text-secondary"> ₹7399</span>
 <span class="m-2 text-dark fw-bolder fs-5"> ₹4000/-</span>
 <button type="button" class="btn btn-outline-primary ms-2 rounded-pill px-4">Add</button>
</a>
</div>
</div>
<hr>
<div class="row m-3">
    <div class="col-md-6 float-start">
  <h6>Total Hepatitis Core Antibody / HBcAb</h6>
</div>
<div class="col-md-6">
<a class="float-end text-decoration-none">
 <span class="text-decoration-line-through text-secondary"> ₹1799</span>
 <span class="m-2 text-dark fw-bolder fs-5"> ₹955/-</span>
 <button type="button" class="btn btn-outline-primary ms-2 rounded-pill px-4">Add</button>
</a>
</div>
</div>
<hr>
<div>
    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        View More
      </button>
    <!-- <div class="collapse" id="collapseExample">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
      </div>
    </div> -->
</div>
<div class="collapse" id="collapseExample">
<div class="row m-3">
    <div class="col-md-6 float-start">
  <h6>Hepatitis E Antibody IgM / HEV IgM</h6>
</div>
<div class="col-md-6">
<a class="float-end text-decoration-none">
 <span class="text-decoration-line-through text-secondary"> ₹2399</span>
 <span class="m-2 text-dark fw-bolder fs-5"> ₹1300/-</span>
 <button type="button" class="btn btn-outline-primary ms-2 rounded-pill px-4">Add</button>
</a>
</div>
</div>
<hr>
<div class="row m-3">
    <div class="col-md-6 float-start">
  <h6>Hepatitis B Surface Antigen (HbsAg) - Serum</h6>
</div>
<div class="col-md-6">
<a class="float-end text-decoration-none">
 <span class="text-decoration-line-through text-secondary"> ₹ 699</span>
 <span class="m-2 text-dark fw-bolder fs-5"> ₹ 449/-</span>
 <button type="button" class="btn btn-outline-primary ms-2 rounded-pill px-4">Add</button>
</a>
</div>
</div>
<hr>
<div class="row m-3">
    <div class="col-md-6 float-start">
  <h6>Hepatitis B Surface Antigen (HbsAg) - Serum</h6>
</div>
<div class="col-md-6">
<a class="float-end text-decoration-none">
 <span class="text-decoration-line-through text-secondary"> ₹ 699</span>
 <span class="m-2 text-dark fw-bolder fs-5"> ₹ 449/-</span>
 <button type="button" class="btn btn-outline-primary ms-2 rounded-pill px-4">Add</button>
</a>
</div>
</div>
<hr>
<div class="row m-3">
    <div class="col-md-6 float-start">
  <h6>Hepatitis B Surface Antigen (HbsAg) - Serum</h6>
</div>
<div class="col-md-6">
<a class="float-end text-decoration-none">
 <span class="text-decoration-line-through text-secondary"> ₹ 699</span>
 <span class="m-2 text-dark fw-bolder fs-5"> ₹ 449/-</span>
 <button type="button" class="btn btn-outline-primary ms-2 rounded-pill px-4">Add</button>
</a>
</div>
</div>
<hr>
</div>
</div>