<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/Images/medlife logo.png" alt="Logo" width="40" height="35"
        class="d-inline-block align-text-top ms-5">
      <span class=" logocolor fs-6 fw-bolder">Med</span><span class="text-danger fs-6 fw-bolder">Life</span>
    </a>
    <div class="text-end me-4 ">
      <a class="me-2 text-decoration-none">About Us</a>
      <a class="ms-2 text-decoration-none cursor" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</a>
    </div>
  </div>
</nav>

<div>
  <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{actionName==='SignUp'? 'Sign Up':'Sign In'}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-sign-in *ngIf="actionName==='SignIn'"></app-sign-in>
          <app-sign-up *ngIf="actionName==='SignUp'"></app-sign-up>
        </div>
        <div class="d-grid gap-2 m-4 mt-1">
          <button type="button" class="btn btn-primary" *ngIf="actionName==='SignUp'"
            (click)="ChangeAction('SignIn')">Sign In</button>
          <button type="button" class="btn btn-primary" *ngIf="actionName ==='SignIn'"
            (click)="ChangeAction('SignUp')">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>