.homecontainer{
    width: 60%;
    
}
.carouselcontainer{
    width: 70%;
}
.titlecolor{
    color:#00b300;;
}
.medlifegold{
   background-color:#ffad33 ; 
}
.cardcolor{
    background: radial-gradient(circle, rgba(245,46,72,1) 5%, rgba(37,199,23,1) 100%);
-webkit-text-fill-color: transparent;
background-clip: text;
}