<div class="container-fluid bg-primary fs-3 mt-2">
    <div class="text-white fs-5 fw-semibold p-2 ms-5"><i class="bi bi-arrow-left cursor me-2" routerLink="/medicine"></i>&nbsp;&nbsp;Top Deals</div>
    </div>
    <div class="container-fluid containercolor">
        <div class="row">
    <div class="col-md-6 text-center p-3">
       <span>Showing Medicine Availability and Price in&nbsp;<span class="text-primary " data-bs-toggle="modal"  data-bs-target="#exampleModal"><i class="bi bi-geo-alt "></i >&nbsp;Pune411001</span></span>
    </div>
    </div>
    </div>
