<div class="row">
  <div class="alert alert-danger" role="alert" *ngIf="isNewUser">
    User Doe's not exit's ! Please SignUp First
  </div>
</div>
<form [formGroup]="SignInForm" (ngSubmit)="SignIN()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">UserName</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="UserName">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="Password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <div class="d-grid gap-2 m-2">
    <button type="submit" class="btn btn-primary ">submit</button>
  </div>
</form>
