<div class="container-fluid bg-primary">
    <div class="row text-white p-1 m-3">
        <div class="col-md-3 mt-2 location">
            <h5><i class="bi bi-geo-alt-fill "></i> &nbsp;Dairy Circle</h5>
            <p>bhavani nagar,S.G.plaza pune</p>
        </div>
        <div class="col-md-8">
            <div class="input-group mb-3 inputsearchgroup">
                <input type="text" class="form-control searchbox ms-1"
                    placeholder="Search for Lab-Tests,Scans & Health CheckUp Packages" aria-label="Recipient's username"
                    aria-describedby="basic-addon2">
                <span class="input-group-text fs-5 fw-bolder bg-white" id="basic-addon2"><i
                        class="bi bi-search px-2 text-primary"></i></span>
            </div>
        </div>
    </div>
</div>
<div class="container p-4 mt-2 text-center cursor w-50">
    <div class="d-flex flex-row mb-3 justify-content-around justify-content-center">
        <div class="p-2 text-center">
            <a>
                <img src="https://th.bing.com/th/id/OIP.atXakW-azn6qSw6s2_rDzQHaGd?pid=ImgDet&rs=1" width="80"
                    height="90">
                <h6 class="m-1">Book Lab Tests</h6>
            </a>
        </div>
        <div class="p-2">
            <a>
                <img src="https://www.theranow.com/signupimages/Doctorpatienticon.png" width="80" height="90">
                <h6>Popular Health Checks</h6>
            </a>
        </div>
        <div class="p-2">
            <a>
                <img src="https://cache.careers360.mobi/media/presets/150X150/branches/radiologyIcon.jpg" alt=""
                    width="80" height="90">
                <h6>X-Rays,Scans &MRI </h6>
            </a>
        </div>
    </div>
</div>
<div class="container mt-4 carouselSlidewidth justify-content-center">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div style="width: 25rem;" class="cursor"><img
                    src="https://views.medibuddy.in/labs/HomeScreenBanners/web/womens-labs.png" alt="..."></div>
        </ng-template>
        <ng-template carouselSlide>
            <div style="width: 25rem;" class="cursor"><img src="https://www.medibuddy.in/assets/banners/diabetes.webp"
                    alt="..."></div>
        </ng-template>
        <ng-template carouselSlide>
            <div style="width: 25rem;" class="cursor"><img src="	https://www.medibuddy.in/assets/banners/platinum.webp"
                    alt="..."></div>
        </ng-template>
        <ng-template carouselSlide>
            <div style="width: 25rem;" class="cursor"><img src="https://www.medibuddy.in/assets/banners/diabetes.webp"
                    alt="..."></div>
        </ng-template>
        <ng-template carouselSlide>
            <div style="width: 25rem;" class="cursor"><img src="	https://www.medibuddy.in/assets/banners/platinum.webp"
                    alt="..."></div>
        </ng-template>
        <ng-template carouselSlide>
            <div style="width: 25rem;" class="cursor"><img
                    src="https://www.medibuddy.in/assets/banners/vitamin-bone.webp" alt="..."></div>
        </ng-template>
    </owl-carousel-o>
</div>
<div class="container-fluid p-2 containerColor">

    <div class="container testContainer">
        <h4>Featured Health Check-up Packages</h4>
        <div class="d-flex flex-row mb-5 mt-4 justify-content-around justify-content-center ">
            <div class="p-1 borderForTests cursor shadow">
                <a>
                    <h6 class="text-center  text-primary text-dark m-1">Women Health</h6>
                </a>
            </div>
            <div class="p-1 borderForTests cursor shadow">
                <a>
                    <h6 class="text-center  text-primary text-dark m-1">Popular</h6>
                </a>
            </div>
            <div class="p-1 borderForTests cursor shadow">
                <a>
                    <h6 class="text-center text-primary text-dark m-1">Center Visit</h6>
                </a>
            </div>
            <div class="p-1 borderForTests cursor shadow">
                <a>
                    <h6 class="text-center  text-primary text-dark m-1">Full Body Check Up</h6>
                </a>
            </div>
            <div class="p-1 borderForTests cursor shadow">
                <a>
                    <h6 class="text-center  text-primary text-dark m-1">Diabetes</h6>
                </a>
            </div>
            <div class="p-1 borderForTests cursor shadow">
                <a>
                    <h6 class="text-center  text-primary text-dark m-1">Heart</h6>
                </a>
            </div>
            <div class="p-1 borderForTests cursor shadow">
                <a>
                    <h6 class="text-center  text-primary text-dark m-1">Cancer</h6>
                </a>
            </div>
            <div class="p-1 borderForTests cursor shadow">
                <a>
                    <h6 class="text-center  text-primary text-dark m-1">Alcohol</h6>
                </a>
            </div>
            <div class="p-1 borderForTests cursor shadow">
                <a>
                    <h6 class="text-center  text-primary text-dark m-1">Smokers</h6>
                </a>
            </div>
            <div class="p-1 borderForTests cursor shadow">
                <a>
                    <h6 class="text-center  text-primary text-dark m-1">Vitamin</h6>
                </a>
            </div>
            <div class="p-1 borderForTests cursor shadow">
                <a>
                    <h6 class="text-center  text-primary text-dark m-1">View More</h6>
                </a>
            </div>

        </div>
    </div>
    <div class="container mt-4 justify-content-center">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div style="width: 25rem;" class="cursor" >
                    <div class="row">
                        <div>
                            <div class="card rounded-5 shadow" style="height: 13rem;">
                                <div class="card-body">
                                    <h6 class="card-title">Women's Primary Preventation Health CheckUp</h6>
                                    <p class="card-text mt-1"> <span class="SampleCollection px-2 "><i
                                                class="bi bi-house-door-fill text-primary "></i>&nbsp;&nbsp;Home sample
                                            Collection</span></p>
                                       <P>89 Lab Tests</P>
                                    <a>
                                    <span class="class-text Offersection px-3 text-decoration-none float-start">50% Off</span>
                                    <span class="text-primary float-end">
                                        <span class="text-decoration-line-through text-secondary">₹&nbsp;2999</span>
                                     <a class="m-1 text-decoration-none text-dark fs-5 fw-bolder mt-2">₹&nbsp;1500/-</a><br>
                                        <button class="button rounded-pill px-4 text-dark mt-2 float-end btn btn-outline-primary">Add</button>
                                    </span>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div style="width: 25rem;" class="cursor" >
                    <div class="row">
                        <div>
                            <div class="card rounded-5 shadow" style="height: 13rem;">
                                <div class="card-body">
                                    <h6 class="card-title">Smokers Health Checkup</h6>
                                    <p class="card-text mt-1"> <span class="SampleCollection px-2 "><i
                                                class="bi bi-house-door-fill text-primary "></i>&nbsp;&nbsp;Home sample
                                            Collection</span></p>
                                       <P>73 Lab Tests</P>
                                    <a>
                                    <span class="class-text Offersection px-3 text-decoration-none float-start">41% Off</span>
                                    <span class="text-primary float-end">
                                        <span class="text-decoration-line-through text-secondary">₹&nbsp;2999</span>
                                     <a class="m-1 text-decoration-none text-dark fs-5 fw-bolder mt-2">₹&nbsp;1799/-</a><br>
                                        <button class="button rounded-pill px-4 text-dark mt-2 float-end btn btn-outline-primary">Add</button>
                                    </span>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div style="width: 25rem;" class="cursor" >
                    <div class="row">
                        <div>
                            <div class="card rounded-5 shadow" style="height: 13rem;">
                                <div class="card-body">
                                    <h6 class="card-title">MedLife Full Body Health Checkup</h6>
                                    <p class="card-text mt-1"> <span class="SampleCollection px-2 "><i
                                                class="bi bi-house-door-fill text-primary "></i>&nbsp;&nbsp;Home sample
                                            Collection</span></p>
                                       <P>82 Lab Tests</P>
                                    <a>
                                    <span class="class-text Offersection px-3 text-decoration-none float-start">50% Off</span>
                                    <span class="text-primary float-end">
                                        <span class="text-decoration-line-through text-secondary">₹&nbsp;2999</span>
                                     <a class="m-1 text-decoration-none text-dark fs-5 fw-bolder mt-2">₹&nbsp;1500/-</a><br>
                                        <button class="button rounded-pill px-4 text-dark mt-2 float-end btn btn-outline-primary">Add</button>
                                    </span>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div style="width: 25rem;" class="cursor" >
                    <div class="row">
                        <div>
                            <div class="card rounded-5 shadow" style="height: 13rem;">
                                <div class="card-body">
                                    <h6 class="card-title">MedLife Diabetes Screening</h6>
                                    <p class="card-text mt-1"> <span class="SampleCollection px-2 "><i
                                                class="bi bi-house-door-fill text-primary "></i>&nbsp;&nbsp;Home sample
                                            Collection</span></p>
                                       <P>55 Lab Tests</P>
                                    <a>
                                    <span class="class-text Offersection px-3 text-decoration-none float-start">50% Off</span>
                                    <span class="text-primary float-end">
                                        <span class="text-decoration-line-through text-secondary">₹&nbsp;2499</span>
                                     <a class="m-1 text-decoration-none text-dark fs-5 fw-bolder mt-2">₹&nbsp;1999/-</a><br>
                                        <button class="button rounded-pill px-4 text-dark mt-2 float-end btn btn-outline-primary">Add</button>
                                    </span>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div style="width: 25rem;" class="cursor" >
                    <div class="row">
                        <div>
                            <div class="card rounded-5 shadow" style="height: 13rem;">
                                <div class="card-body">
                                    <h6 class="card-title">Alcohol Impact Packages</h6>
                                    <p class="card-text mt-1"> <span class="SampleCollection px-2 "><i
                                                class="bi bi-house-door-fill text-primary "></i>&nbsp;&nbsp;Home sample
                                            Collection</span></p>
                                       <P>62 Lab Tests</P>
                                    <a>
                                    <span class="class-text Offersection px-3 text-decoration-none float-start">55% Off</span>
                                    <span class="text-primary float-end">
                                        <span class="text-decoration-line-through text-secondary">₹&nbsp;2999</span>
                                     <a class="m-1 text-decoration-none text-dark fs-5 fw-bolder mt-2">₹&nbsp;999/-</a><br>
                                        <button class="button rounded-pill px-4 mt-2 text-dark float-end btn btn-outline-primary">Add</button>
                                    </span>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div style="width: 25rem;" class="cursor" >
                    <div class="row">
                        <div>
                            <div class="card rounded-5 shadow" style="height: 13rem;">
                                 <!-- <span class="float-end hashtag">#HerHeathsMatters</span> -->
                                <div class="card-body">
                                    <h6 class="card-title">MedLife Cardiac Health Packages With ECG-Basic</h6>
                                    <p class="card-text mt-1"> <span class="SampleCollection px-2 "><i
                                                class="bi bi-house-door-fill text-primary "></i>&nbsp;&nbsp;Home sample
                                            Collection</span></p>
                                       <P>53Lab Tests</P>
                                    <a>
                                    <span class="class-text Offersection px-3 text-decoration-none float-start">51% Off</span>
                                    <span class="text-primary float-end">
                                        <span class="text-decoration-line-through text-secondary">₹&nbsp;1799</span>
                                     <a class="m-1 text-decoration-none text-dark fs-5 fw-bolder mt-2">₹&nbsp;899/-</a><br>
                                        <button class="button rounded-pill px-4 mt-2 text-dark float-end btn btn-outline-primary">Add</button>
                                    </span>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>

<div class="container mt-4">
    <div class="container clearfix ">
      <h3 class="float-start">Book Lab Tests</h3>
      <a class="fs-5 text text-decoration-none float-end" routerLink="/view-labtests">View All</a> 
    </div>
     <app-book-labtests></app-book-labtests>