.card-description{
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.card-body{
    height: 165px;
}
.card-image{
    height: 250px;
    width: 200px;
    margin-top: 2px;
}
.containerwidth{
    width: 90%;
}