<div class="container-fluid bg-primary p-4">
  <div class="row">
    <h3 class="text-center text-white fw-semibold">Get Huge Savings on Medicines</h3>
  </div>
  <div class="d-flex flex-row mb-3 justify-content-center text-white">
    <div class="p-2"><i class="bi bi-check-circle-fill me-1"></i>100 % Genuine Medicines</div>
    <div class="p-2"><i class="bi bi-check-circle-fill me-1"></i>Trusted Pharmacies</div>
    <div class="p-2"><i class="bi bi-check-circle-fill me-1"></i>Delivery to your doorstep</div>
    <div class="p-2"><i class="bi bi-check-circle-fill me-1"></i>Store Pick up</div>
  </div>
</div>
<div class="container-fluid searchcontainer">
  <div class="input-group input-group-lg shadow rounded-5">
    <span class="input-group-text search-heanding fs-6 cursor bg-white">{{ShowDefaultPincode ? "Pune
      411001":pincodeDetails?.pincodeCity +" "+pincodeDetails?.pincode}}&nbsp;&nbsp;<i
        class="bi bi-chevron-down text-primary fw-bold ms-2" data-bs-toggle="modal"
        data-bs-target="#exampleModal"></i></span>
    <input type="text" class="form-control fs-6" aria-label="Sizing example input" placeholder="Search Medicines">
    <span class="input-group-text search-heanding fs-6 cursor bg-white text-primary fw-semibold"><i
        class="bi bi-search ms-3"></i>&nbsp;Search</span>
  </div>
</div>
<div class="container w-75">
  <div class="row">
    <img src="	https://www.medibuddy.in/assets/banners/medicine-page.webp" alt="">

  </div>

</div>
<div class="container mt-4 carouselSlidewidth justify-content-center">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div style="width: 35rem;"><img src="https://www.medibuddy.in/assets/banners/otcStore.webp" alt="..."></div>
    </ng-template>
    <ng-template carouselSlide>
      <div style="width: 35rem;"><img src="	https://www.medibuddy.in/assets/offers/CallOffer.png" alt="..."></div>
    </ng-template>
    <ng-template carouselSlide>
      <div style="width: 35rem;"><img src="https://www.medibuddy.in/assets/offers/discount-home-delivered.png"
          alt="..."></div>
    </ng-template>
    <ng-template carouselSlide>
      <div style="width: 35rem;"><img src="https://www.medibuddy.in/assets/offers/CallOffer.png" alt="..."></div>
    </ng-template>
  </owl-carousel-o>
</div>
<div class="container mt-4">
  <div class="container w-75 clearfix ">
    <h3 class="float-start">Top Deals</h3>
    <a class="fs-5 text text-decoration-none float-end" routerLink="/view-All">View All</a> 
  </div>
  <app-top-deals></app-top-deals>
</div>

<div class="container">
  <div class="modal fade rounded-5 shadow" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Set your location</h1>
          <button type="button" class="btn btn-link text-decoration-none" data-bs-dismiss="modal" aria-label="Close" #closeButton>Close</button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <caption for="validationCustom01" class="form-label">pincode</caption>
            <input type="text" class="form-control"id="validationCustom01" value="" required [(ngModel)]="pincode"
              maxlength="6">
             <div class="m-2 text-primary" *ngIf="displayPincodeCity">
              {{pincodeDetails?.pincodeCity}}
            </div> 
            <div class="invalid-feedback d-block" *ngIf="displayErrorMsg">
              No Providers available for this PinCode
            </div>
          </div>
        </div>
        <div class="d-grid gap-2 m-3 rounded-3">
          <button class="btn btn-primary" type="button" (click)="verifyPinCode()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>